.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 120px;
    width: 100%;
}

.introduction__text{
    width: 60%;
}

.introduction__text img{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 90px;
}

.introduction p{
    padding: 0 80px 0 80px;
    text-align: left;
    font-size: 20px;
    font-family: "Gilroy-Regular", sans-serif;
    color: var(--primary-color);
    opacity: 80%;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    .introduction__text{
        width: 90%;
    }

    .introduction p{
        font-size: 13px;
        padding: 0 30px 0 30px;
    }

    .introduction__text img {
        padding-bottom: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .introduction__text{
        width: 90%;
    }

    .introduction p{
        font-size: 18px;
        padding: 0 30px 0 30px;
    }

}
