.contact-us{
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 20px 0 30px 0;
}

.contact-us__title{
    font-size: 72px;
    font-family: "Butler-Light", sans-serif;
    color: var(--white-color);
    line-height: 66px;
    margin: 0;
    z-index: 1;
}

.contact-us span{
    font-size: 22px;
    font-family: "Gilroy-Regular", sans-serif;
    color: var(--white-color);
    opacity: 80%;
    line-height: 33px;
    padding: 20px 0 40px;
    z-index: 1;
}

.contact-us button{
    font-size: 36px;
    font-family: "Gilroy-Bold", sans-serif;
    color: var(--white-color);
    line-height: 90px;
    background: transparent;
    border: 1px solid var(--white-color);
    border-radius: 8px;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.contact-us button:hover{
    background: var(--accent-color);
}

.contact-us img{
    position: absolute;
    width: 520px;
    bottom: -91px;
    z-index: 0;
    right: -99px;
}

@media screen and (max-width: 768px) {
    .contact-us__title {
        font-size: 40px;
        z-index: 1;
    }

    .contact-us button {
        z-index:1;
        font-size: 13px;
        line-height: 20px;
    }

    .contact-us span {
        z-index: 1;
        font-size: 13px;
    }

    .contact-us img{
        z-index: 0;
        width: 170px;
        right: 0;
        bottom: -30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contact-us__title {
        font-size: 60px;
        z-index: 1;
    }

    .contact-us span {
        z-index: 1;
        font-size: 18px;
    }

    .contact-us button {
        z-index:1;
        font-size: 20px;
        line-height: 60px;
    }

    .contact-us img{
        z-index: 0;
        width: 300px;
        bottom: -52px;
        right: 0;
    }
}